/* CSS StyleSheet for Drafts extensions */

#drafts-list-box {
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border: red solid 1px;
}

#drafts-list-table {
	margin-left: -5px;
	margin-top: 25px;
	margin-right:-5px;
	border: 1px solid #eee;
	
}
#drafts-list-table td {
	padding: 5px;
}

td.draftpage {
	width: 300px;
}
td.draftsaved {
	width: 100px;
}
td.draftdiscard, td.draftedit {
	width: 100px;
	font-weight: bold;
	text-align: center;
}
td.draftedit a {
	font-weight: bold;
}

	


