/* CSS for ActiveEditors extension */
#active_editors {
	vertical-align: top;
	text-align: left;
	width: 165px;
	float: right;
	margin-top: 33px;
	margin-right: 18px;
	padding: 5px;
	border: 1px solid #CCC;
}