#editfinder_preview {
	width: 600px;
	margin: 0 auto;
	border: 1px solid #CDCDCD;
	overflow-x: hidden;
	padding: 25px 0;
}

#editfinder_upper {
	background: url(eraser.jpg) no-repeat top right;
	height: 82px;
	line-height: 82px;
	margin-top: -50px;
	padding-left: 20px;
}

#editfinder_head {
	background-color: #F5F5F5;
	padding: 20px;
	border-top: 1px solid #111;
	border-bottom: 1px dashed #111;
	margin: 10px 0 20px 0;
}

#editfinder_head h1 {
	font-size: 1.6em;
	padding: 0;
}

#editfinder_options {
	font-size: 1em;
	float: right;
}
#editfinder_options #editfinder_yes {
	margin-right: 1.3em;
	float: right;
}
#editfinder_options #editfinder_skip {
	float:right; 
	padding: 0 14px 0 0;
	font-weight: bold;
	line-height: 26px;	
	background: url(blue_arrow.png) no-repeat right center;
}

.editfinder_button_yes {
	background:url(./editfinder_yes.png) no-repeat scroll left top transparent;
	height:26px;
	line-height:25px;
	width:163px;
	padding-left: 10px;
	font-size: .9em;
}
.editfinder_button_yes:hover { background-position: 0 -28px; }
.editfinder_button_yes:active { background-position: 0 0; }


#editfinder_title {
	margin: 0 auto;
	width: 600px;
	border: 1px solid #CDCDCD;
	background-color: #F5F5F5;
	-moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -khtml-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}
#editfinder_title h1 {
	font-size: 1.5em;
	padding: 10px 15px;
}

#editfinder_spinner {
	display: none;
	margin: 50px;
	text-align: center;
}

#editfinder_category {
	padding: 25px 0 20px 0;
	text-align: center;
	font-size: 1.5em;
}
#editfinder_category a {
	padding-left: 10px;
}

h2 .editsectionbutton {
	display: none;
}

.template_top {
	display: none;
}

#article_tabs_line {
	display: none;
}

div#article { padding-bottom: 0; }
/*#editfinder_preview div.article_inner { padding-right: 0; padding-left: 0;}*/

#drafts-list-box { display: none; }

#editfinder_preview_updated { display: none; }