/* CSS for DocentSettings extension */
table.docentsettings td {
	border: 1px solid #ccc;
	padding: 10px;
	font-size: 90%;
	vertical-align: top;
}

.docentSettingsDiv {
	margin-bottom: 5px;
	width: 260px;
	border: 1px solid #eee;
	padding: 3px;
}