                td.right {
                    padding-left: 20px;
                    font-size: 90%;
                    vertical-align: top;
                }
                tr.trow {
                }

DIV.video_result {
	width: 500px; border: 1px solid #ccc; padding: 4px; min-height:210px; margin-bottom: 15px;
}

div.video_result input{
	float:none;
	margin:0 auto;
}

div.video_result_video {
float: left; clear: right; width: 200px; margin: 5px;
}

div.video_info_result {
	width: 450px; padding: 10px; margin-left: 200px;
}

div.video_info_image {
text-align: right; width: 450px;
}

span.video_info_title {
font-family: Georgia; font-size: 110%;
}

table.video_meta_table
{
width:400px; font-size:90%
}

div.video_comments_image {
text-align: right; width: 450px;
}

div.video_comment 
{
	border: 1px solid #ccc; margin: 2px; padding: 3px;width: 450px; background: url("/extensions/wikihow/embed_quote.png") 5px 30px no-repeat;
}

div.video_date {
	font-style: italic;
}

div.video_comment_text 
{
margin-left: 30px; margin-top: 5px;
}

#winpop_outer {
	left: 15%
}

div.video_related {
    border: 1px solid #CCC;
    padding: 5px;
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 10px;
    clear:both;
}

span.video_relate_title {
    font-weight:    bold;
    font-size:      1.2em;
}

div.import_video_title{
	float: left; 
	font-size:110%; 
	font-weight: bold;
}
span.change {
	font-size: 80%;
	font-weight: normal;
}

div.source_tab {
	font-size:	90%;
	float:		left;
	border:		1px solid #ccc;
	border-bottom:	0px;
	text-align:	center;
	padding:	1px 5px;
	background:	#CEE8E9;
	text-transform:uppercase;
	margin-left: 5px;
	font-family:	Georgia;
}

div.source_tab_container {
	text-align:	center;
	margin-top:	5px;
	margin-bottom:	20px;
	height:	18px;
	border-bottom:	1px solid #CCC;
	width: 500px;
	margin-left: 0;
	padding-left: 20px;
}

div.video_insert {
	font-size: 110%;
}

div.article_title {
	font-weight:	bold;
	font-size:		110%;
}

div.article_intro {
	border: 1px solid #ccc; 
	background:  #E7EDFF;
	padding: 3px; 
	font-weight: bold;
}



