.pb-articles{
	width:623px;
	font-size: 12px;
	margin-left:25px;
	margin-bottom:15px;
}

.pb-articles th.first{
	background: url("/skins/WikiHow/images/sttable_top.png") no-repeat 0 0;
	height:38px;
	vertical-align: middle;
	font-size:21px;
	color:#504239;
}

.pb-articles th.middle{
	background: url("/skins/WikiHow/images/sttable_top.png") no-repeat 50% 0;
	vertical-align: bottom;
	font-size:12px;
	color:#bdb7a7;
}

.pb-articles th.last{
	background: url("/skins/WikiHow/images/sttable_top.png") no-repeat 100% 0;
	vertical-align: bottom;
	font-size:12px;
	color:#bdb7a7;
}

.pb-articles th{
	border:none;
}

.pb-articles tfoot .pb-title{
	font-weight: bold;
	font-size: 13px;
}

.pb-title{
	text-align: left;
	border-left:1px solid #DEDACF;
	border-top:1px dotted #E1E1E1;
	padding-left:15px;
	padding-top:5px;
	padding-bottom:5px;
	width:401px;
}

.pb-star{
	text-align: right;
	border-top:1px dotted #E1E1E1;
	padding:5px 0;
	width:72px;
}

.pb-feature{
	text-align: center;
	border-top:1px dotted #E1E1E1;
	padding:5px 0 5px 15px;
	width:50px;
}

.pb-view{
	text-align: right;
	border-right:1px solid #DEDACF;
	border-top:1px dotted #E1E1E1;
	padding:5px 15px 5px 0;
	width:55px
}

.pb-stats
{
	float:left;
	width:100%;
	border:solid #dfdace;
	border-width: 1px;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	padding:10px 0;
	position:relative;
}

.pb-stats table{
	padding:0;
	margin: 0;
	width: 50%;
}

.pb-stats table td{
	width:50%;
}

#pb-aboutme{
}

.pb-badge{
	background-image:url("/skins/WikiHow/images/badges.png");
	position:absolute;
	width:67px;
	height:85px;
	top:0;
}

.pb-nab{
	background-position:-140px 0;
}

.pb-fa{
	background-position:-70px 0;
}

.profileBox
{
	border:1px solid #BBB;
	-moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;
	padding:10px;
	margin:10px 0px;
	font-size:1.1em;
}

.profileBox td{
	padding-bottom:10px;
	font-size:16px;
}

.profileBoxStats
{
	border:1px solid #dfdace;
	padding:15px;
	margin:0px ;
	width:135px;
	float:right;
}

.pb-stats span{
	margin-left:10px;
}

.profileBoxInfo
{
	float:right;
	border:1px solid #dfdace;
	padding:15px;
	margin:0; /*removed 10px because box was too low */
	width:135px;
}

#pbTabs
{
	padding:10px 27px 0 23px;
	margin:0;
}

#profileBoxStatsContent 
{
	line-height: 140%;
	margin-left:10px;
}
#pbTabsContent
{
	border-right:1px solid #999999;
	border-bottom:1px solid #999999;
	border-left:1px solid #999999;
	padding:10px;
	padding-bottom:30px;
	margin:0px;
}

#article ul.menu_tabbed {
	list-style: none;
	border-bottom: 1px #999999 solid;
	padding-bottom: .4em;
	margin:0;
	}	
ul.menu_tabbed li {
	display: inline;
	margin-left: 10px;
	}	
ul.menu_tabbed li a {
	color:#999999;
	-moz-border-radius-topleft:0.5em;
	-moz-border-radius-topright:0.5em;
	-webkit-border-top-left-radius:0.5em;
	-webkit-border-top-right-radius:0.5em;
	text-decoration: none;
	background: #f7f7f7;
	border: 1px #CCCCCC solid;
	border-bottom: none;
	padding: 5px 7px;
	}	
ul.menu_tabbed li a.selected {
	color:#666666;
	background:#FFFFFF;
	border: 1px #999999 solid;
	border-bottom: 2px #FFFFFF solid;
	padding: 5px 7px ;	
	}	
ul.menu_tabbed li a:hover {
	padding: 5px 7px ;	
	color:#666666;
	}		

.selectFavs
{
	margin-left: 30px;
	width: 350px;
}

div.autocomplete {
  position:absolute;
  width:300px;
  background-color:white;
  border:1px solid #888;
  margin:0;
  padding:0;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  height:32px;
  cursor:pointer;
}

.pbTable
{
	padding: 10px;
	margin: 0;
	border:1px solid #bbb;
	//min-width:630px;
	min-width:100%;
	width:100%;
}

.pbTable .pbTableHeader
{
	border:1px solid #000;
	background-color: #DDD;
}

.pbTable .pbTableTitle
{
}


.pbTable .pbTableViews
{
	width: 100px;
	text-align: center;
}

.pbTable .pbTableRS
{
	width: 100px;
	text-align: center;
}

.pbTable .pbTableFA
{
	width: 100px;
	text-align: center;
}

