#qc_box {
	background-color: #F5F5F5;
	border-bottom: 1px dashed #111;
	margin-bottom: 20px;
	padding: 0 20px 10px 20px;
}

div.qc_title { 
	background-color: #F5F5F5;
	border-top: 1px dashed #111;
	font-size: 2em; 
	padding-top: 10px;
}

#qc_changedby {
	text-align: left;
	clear: both;
	padding-bottom: 10px;
}

#qc_head {
	background-color: #F5F5F5;
	padding: 15px 20px 0 20px;
	border-top: 1px solid #111;
	margin: 10px 0 0 0;
	text-align: center;
}

.qc_alldone {
	padding-top: 30px;
	font-size: 2em;
}


/* INTRO IMAGE */
#qc_bigpic {
	background-color: #F5F5F5;
	padding: 20px 0;
	text-align: center;
}

#qc_bigpic IMG {
	border: 1px solid #BFBFBF;
	-moz-box-shadow: -3px 3px 4px #BFBFBF;
	-webkit-box-shadow: -3px 3px 4px #BFBFBF;
	box-shadow: -3px 3px 4px #BFBFBF;
}


/* VIDEO */
#qc_bigvid { margin-top: 20px; }

#qc_bigvid h2 { display: none; }

#qc_bigvid embed {
	border: 1px solid #BFBFBF;
	-moz-box-shadow: -3px 3px 4px #BFBFBF;
	-webkit-box-shadow: -3px 3px 4px #BFBFBF;
	box-shadow: -3px 3px 4px #BFBFBF;
}

#qc_bigvid center {
	margin: 0;
	padding: 0;
}

#qc_vidtitle {
	text-align: center;
	margin: 0 0 8px 0;
	color: #4A3C31;
	font-weight: normal;
	font-size: 1.5em;
}


/* RC PATROL */
#qc_box table.diff { margin-top: 10px; }
#qc_box table.diff, #qc_box td.diff-otitle, #qc_box td.diff-ntitle { background-color: #F5F5F5; }

#qc_box table.diff #mw-diff-otitle2b, 
#qc_box table.diff #mw-diff-ntitle2b,
#qc_box table.diff .mw-rollback-link
{ display: none; }

#qc_box td.diff-otitle, #qc_box td.diff-ntitle { padding-bottom: 15px; }


#qc_head h1 {
	font-size: 1.6em;
	float: left;
	padding: 0 1em 0 0;
}

#qc_buttons {
	width: 130px;
	margin: 0 auto;
}

#qc_head .button { float: left; }

#qc_skip_div {
	float:right; 
	font-weight: bold;
	line-height: 26px;
	white-space: nowrap;
}

#qc_skip_arrow {
	background: url(./editfinder/editfinder_yes.png) no-repeat scroll -165px 0 transparent;
	width: 9px;
	height: 10px;
	float: right;
	margin: 8px 0 0 4px;
}

#qcrules {
	float: right;
	padding-top: 20px;
}

#qc_articletitle { margin: 0 20px 10px 20px; }

#qc_options {
	width: 300px;
	margin: 20px auto 0 auto;
	height: 125px;
	display: none;
}
#qc_options div {
	float: left;
	padding: 0 20px;
}

#qcrules_submit { margin: 0 0 0 auto; }

#article div.article_inner { padding-bottom: 0; }

#article div#qccontents { min-height: 250px; }

#article_tabs_line { display: none; }
#featurestar { display: none; }