.txt_strike {
	 text-decoration: line-through;
}

#chk_praise_content {
	display: none;
}

.chk_praise {
	margin: 5px 5px 5px 0;
	padding: 10px;
	background:#FFFFCC;
	display: none;
}

#chk_praise_data {
	display: none;
}


.chk_close {
	float: right;
	width: 40px;
}

.chk_img_final {
	width: 70px;
	height: 60px;
	vertical-align: middle;
	display: none;
}

.chk_msg {
	display: inline-block;
	width: 150px;
}

.step_checkbox {
	position: relative;
	float: left;
	margin-left: -35px;
	width: 25px;
	height: 50px;
	color: whiteSmoke;
	background: url(/extensions/wikihow/mobile/images/checkmark_sprite3-check.png) no-repeat 0 -55px;
	background-size: 25px 100px;
}

.step_checked { 
	background: url(/extensions/wikihow/mobile/images/checkmark_sprite3-check.png) 0 0;
}


