/**********************************
MODIFY
**********************************/
.editpage_buttons { margin:15px auto 0 auto; width:510px; height:26px;}

#optional_sections UL {
    margin: 8px 0 15px 10px;
}

#article DIV#share_icons DIV {
	float: left;
	margin: 0 3px 20px 0;
	color: #4e4138;
	font-size: 12px;
	line-height:18px;
}
#category div#share_icons{
margin-top:10px;
}
#category DIV#share_icons DIV {
	float: left;
    margin: 0 3px 20px 0;
    color: #4e4138;
	font-size: 12px;
	line-height:18px;
}

#actions H3 {
    font-size: 18px;
    text-align: center;
    font-weight: normal;
}

#related_select {
	width: 500px;
	margin-bottom:5px;
	padding-left:5px;
}

#actions H3#subHeader { 
color: #4e4138;
margin:0 10px;
}

/*  CHANGE #actionLink to .actionLink */
#actions DIV.actionLink {
    float: right;
    text-align: right;
    margin-right: 31px;
    margin-top: 55px;
	width:auto;
}
#actions .actionLink A {
    font-size: 16px;
    color: #01769f;
    bottom: 20px;
    font-weight: bold;
}
#actions .actionLink A:hover { color: #4e4138; }

/** changed #actions H2#header to #actions H2.actions_header **/
#actions H2.actions_header {
    font-size: 36px;
    color: #4e4138;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}

/** changed #actions #actions_spacer to #actions .actions_spacer **/
#actions .actions_spacer{
    width: 18px;
height:221px;
    float: left;
}

/** changed #actions Span#brown to .brown **/
.brown { color: #4e4138; }

#social_box LI#social_fb { background: url(/skins/WikiHow/images/facebooks.png) no-repeat 12px bottom; }


DIV#header {
	width: 978px;
	height:100px;
	margin: 15px auto 0 auto;
	z-index: 1;
	position: relative;
	color: #514239;
}

DIV#message_box {
	background: url(/skins/WikiHow/images/message_box.png) no-repeat left;
	width: 918px;
	height: 46px;
	padding-left: 60px;
	line-height: 46px;
	font-size: 1.1em;
	overflow: hidden;
	z-index: 2;
	position: relative;
	margin-bottom:7px;
	/*display: none;*/            
}

DIV#actions_shell{
    width: 978px;
    float: none;
    height: 322px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
	margin-bottom:3px;
}

DIV#category_shell {
    width: 679px;
    float: left;
	margin-top: 0px
}

DIV#article_shell{
    width: 679px;
    margin: -3px 305px 0 0;
    float: left;
}

DIV#sidebar {
	width: 293px;
	float: left;
	margin-left: -300px;
	margin-top: 0px;
	color: #7F7F7F;
}

#actions Div {
    position: relative;
    float: left;
    height: auto;
    width: 303px;
    margin-top: -3px;
    margin-bottom: -22px;
}

#actions #learn, #actions #write{
    background: url(images/actionBox_background.png);
height:221px;
}

#actions #collaborate {
    background: url(images/actionBox_background_curl.png);
height:221px;
}

DIV#actions {
    background: url(images/actions_background.png) repeat-y;
    height: 260px;
    padding: 15px;
    margin-top: -.3em;
    margin-bottom: 0px;
    position: inherit;
}

/*****************
NEW
******************/
#article .article_inner h2{
margin-left:-43px;
}

#toolbar{
	clear:both;
margin-top:5px;
}

.editButtons input{
margin-right:10px;
}

.templatesUsed{
clear:both;
}

#wpMinoredit{
margin-top:4px;
}

.editHelp{
display:block;
padding-top:9px;
}

#optional_sections h3{
margin-left:23px;
}

#weave_button{
margin-top:4px;
}
#fixcaps_button{
margin-top:5px;
}

.article_inner #editpage-copywarn{
margin-left:0;
}

#editpage-copywarn{
clear:both;
margin-left:23px;
}

.blue_button_100{
	background: url(/skins/WikiHow/images/button_100.png) top left no-repeat;
    width: 100px;
    height: 26px;
    line-height: 27px;
    font-size: .9em;
    color: #ffffff;
    margin: 0 10px;
}

.related_vids a, #side_related_videos a, #side_related_videos a{
position:relative;
}

.video_thumb_play{
    position:absolute;
    right:5px;
    bottom:5px;
}

#article ul.special li{
padding:10px 0;
font-size:13px;
line-height:18px;
border-bottom:1px solid #cccccc;
}

#recentchanges h4{
margin:10px 0 0 0;
}

.recentchanges{
padding-top:5px;
}

.recentchanges select{
margin-right:5px;
}

.recentchanges label{
margin-right:5px;
}

.recentchanges input{
margin-right:5px;
}

.article_inner textarea{
padding-left:5px;
}

#article center{
margin-top:25px;
}

#actions .actions_subheader{
	color: #4e4138;
	margin:0 10px;
}

#actions .subHeader_blue { color: #01769f; }

img{}

#article ul.category_column{
width:270px;
float:left;
list-style:none;
margin:0;
padding:0;
}

#mw-subcategories ul ul{
margin-left:12px;
padding:0;
}

#mw-subcategories ul li{
font-weight:bold;
}

#mw-subcategories ul li li{
font-weight:normal;
color:#0176a0;
list-style:none;
}

#article ul.category_column{
width:270px;
float:left;
list-style:none;
margin:0;
padding:0;
}

#article .category_column.column_first{
	margin:0 25px 25px 10px;
}

#mw-pages ul{
width:270px;
float:left;
list-style:none;
margin:0;
padding:0;
}

#mw-pages .column_first{
margin:0 25px 0 10px;
}

#docents{
margin-bottom:25px;
}

#docents p{
	color:#0176a0;
}

#docents #become_docent span{
	color:#C8C8C8;	
	font-size:1.15em;
	margin-right:0.2em;
}

h3.categoryHeading{
	padding:10px 0 10px 0;
	font-size:1.3em;
}