#body {
	font-family: Arial;
}
table.dashboard {
	font-family: Arial;
	margin-left:auto; margin-right:auto;
	width: 90%;
}

table.dashboard td {
	vertical-align: top;
	padding-bottom:	20px;
	border: 1px solid #eee;
}

H1 {
	font-family: Arial;
}

H2 {
	font-size: 110%;
}

